<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zt.manage.mapper.MenuMapper">

    <select id="selectMenuByRoleIds" resultType="com.zt.manage.domain.dto.menu.MenuDTO">
        SELECT a.id, a.parent_id, a.menu_name, a.menu_path, a.menu_sort
        FROM sys_menu a
        <if test="roleIds != null and roleIds.size() > 0">
            inner JOIN sys_role_menu_mapper_list b ON a.id = b.menu_id
        </if>
        <where>
            <if test="roleIds != null and roleIds.size() > 0">
                and b.role_id in
                <foreach collection="roleIds" item="roleId" separator="," open="(" close=")">
                    #{roleId}
                </foreach>
            </if>
        </where>
        <if test="roleIds != null and roleIds.size() > 0">
            group by a.id
        </if>
    </select>

    <select id="selectMenuByRoleId" resultType="com.zt.manage.domain.dto.menu.MenuDTO">
        SELECT a.id, a.parent_id, a.menu_name, a.menu_path, a.menu_sort, b.id roleMenuId
        FROM sys_menu a
        left JOIN sys_role_menu_mapper_list b ON a.id = b.menu_id and b.role_id = #{roleId}
    </select>

    <select id="selectCountByQuery" resultType="java.lang.Integer">
        select count(id) from sys_menu where parent_id = 0
    </select>
    <select id="selectListByQuery" parameterType="com.zt.manage.domain.req.menu.MenuListQueryReq"
            resultType="com.zt.manage.domain.dto.menu.MenuDTO">
        select id, parent_id, menu_name, menu_path, menu_type, menu_sort
        from sys_menu
        where parent_id = 0
        limit #{pageIndex}, #{pageSize}
    </select>

    <select id="selectListByParentIdList" resultType="com.zt.manage.domain.dto.menu.MenuDTO">
        select id, parent_id, menu_name, menu_path, menu_type, menu_sort
        from sys_menu
        where parent_id in
        <foreach collection="parentIdList" item="parentId" open="(" close=")" separator=",">
            #{parentId}
        </foreach>
    </select>
</mapper>