<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zt.manage.mapper.RoleMapper">

    <select id="selectRoleList" resultType="com.zt.manage.domain.dto.role.UserRoleDTO">
        select a.id roleId, a.role_name, a.role_desc, if(b.id is null, 0 ,1 ) selectFlag
        from sys_role a
        LEFT JOIN sys_user_role_mapper_list b ON a.id = b.id
        <if test="userId != null and userId != ''">
            AND b.user_id = #{userId}
        </if>
    </select>

    <sql id="ListQuerySql">
        from sys_role
        <where>
            id != 1
            <if test="query != null and query != ''">
                and role_name like concat(#{query} ,'%')
            </if>
        </where>
    </sql>

    <select id="selectCountByQuery" parameterType="com.zt.manage.domain.req.role.RoleListQueryReq"
            resultType="java.lang.Integer">
        select count(id)
        <include refid="ListQuerySql"/>
    </select>

    <select id="selectListByQuery" parameterType="com.zt.manage.domain.req.role.RoleListQueryReq"
            resultType="com.zt.manage.domain.dto.role.RoleDTO">
        select id roleId, role_name, role_desc, create_time
        <include refid="ListQuerySql"/>
        order by create_time
        limit #{pageIndex}, #{pageSize}
    </select>

</mapper>